doctype html
html
	head
		meta(charset='UTF-8')
		title My Site
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		nav.navbar.navbar-default
			.container
				.navbar-header
					a.navbar-brand(href='/') My Site
				ul.nav.navbar-nav.navbar-left
					li
						a(href='/blog') Blog
					li
						a(href='/portfolio') Portfolio
				form.navbar-form.navbar-right(action='/blog/search', method='get')
					.form-group
						input.form-control(name='query', placeholder='Search blog posts')
					| 
					input.btn.btn-default(type='submit', value='Search')
		.container
			block body